body {
    background-image: url(imagen/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
 .navbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
 }

 .navbar a {
    color: white;
    padding: 14px 20px;
    text-emphasis: none;
 }

 .navbar a {
    background-color: var(--color-primary-dark);
 }

 .navbar ul {
    list-style-type: none;
    background-color: #49d455;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 65px;
    text-decoration: none;
    transition: backgtound-color 03s;
}

.navbar li a:hover {
    background-color: rgb(8, 8, 8);
    color: rgb(15, 252, 252);
    border-bottom: 2px solid rgb(5, 227, 243);
}

video {
   transition: transform 0.5s;
}
video:hover{
    transform: scale(1.1);
}

img {
    transition: transform 0.5s;
}

img:hover {
    transform: scale(1.1);
}

.navbar a:hover {
    color: #ccc;
    transform: scale(1.2);
    transition: all 0.2s ease;
}
 
